header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
} 

header h1 {
    text-align: center;
    color: aliceblue;
    font-family: normal 16px   'Alkatra', cursive;
}

body {
  margin: 0;
  top: 0;  
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,255,255,1) 100%);
  font-family: normal 16px   'Alkatra', cursive;
}

aside {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;    
}

.icon-menu img{
  width: 45px;
  height: 45px;
  margin-top: 25px;  
  margin-left: 25px;
}

#menu-lateral{
  height:auto;
  width: 180px; 
  border-radius: 25%;
  margin-left: 5px;
  margin-top: auto;
}

#menu-lateral ul li{
  list-style: none;
  margin-top: 10px;
  text-align: left;
}

#menu-lateral a{
    color: black;
    text-decoration: none;
}

section#personal-presentation{
    text-align: center;
}

section#personal-presentation img{
    margin-top: 200px;
    border-radius: 45%;
    width: 200px;
    height: 200px;
}