body {
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(255,255,255,1) 100%);
  background-size: cover;
  text-align: center;
  font-family: normal 16px   'Alkatra', cursive;
}

h1{
    font-family: 'Alkatra', cursive;
}

#index-page {
    text-align: left;
}

img {
    border-radius: 50%;
}

.title {
    text-align: center;
    font-size: 25px;
    font-family: 'Pacifico', cursive;

}

.list{
    text-align: left;
    font-family: 'Caveat', cursive;
    font-weight: bold;
}